.mat-column-quantidade {
  width: 100px !important;
}

.mat-column-valorUnitario {
  width: 150px !important;
}

.mat-column-nome {
  width: 200px !important;
}

.mat-column-subtotal {
  width: 120px !important;
}
